<div id="<%= dom_id photo %>" class="mb-4">
  <div class="mb-4">
    <% if photo.image.attached? %>
      <%= image_tag(photo.image, alt:"photo-image", class:"photos-card photos-card__image_photos" ) %>
    <% end %>
  </div>
  
  <%= link_to photo_path(photo), class:"photo-title"  do %>
  <h3 class="heading--sm gray-400 semi-bolt font-monserrat"><%= photo.title%></h3>
  <% end %>


  <small class="light text-1rem gray-300 mb-4"><%= photo.comments_count %> comments</small>

  <div class="photos-card__icons">
    <%= link_to photo_path(photo), class:"" do %>
      <%= image_tag("icons/eye-solid.svg", alt:"icon-eye", class:"icons-category") %>
    <% end %>
    <%= link_to(edit_photo_path(photo), class:"") do %>
      <%= image_tag("icons/icon-pencil.svg", alt:"icon-pencil", class:"icons-category") %>
    <% end %>
    <%= link_to(photo_path(photo), class:"", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) do %>
      <%= image_tag("icons/icon-trash.svg", alt:"icon-trash", class:"icons-category") %>
    <% end %>
  </div>
</div>
