<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Comments count:</strong>
    <%= photo.comments_count %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= photo.category_id %>
  </p>

</div>
