<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, style: "display: block", class:"uppercase spacing" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, style: "display: block", class:"uppercase spacing" %>
    <%= form.text_area :description, class:"input" %>
  </div>

  <div class="mb-4">
    <%= form.label :cover, style: "display: block", class:"uppercase spacing" %>
    <%= form.file_field :cover %>
  </div>

  <div class="mb-4">
    <%= form.submit class:"button button--secondary" %>
  </div>
<% end %>
