<div class="container section">
  <p style="color: green"><%= notice %></p>
  <h2 class="heading--md gray-500 mb-4">Categories</h1>
  <%= link_to "New category", new_category_path, class:"button button--secondary button--sm fit-content mb-4" %>
    <% @categories.each do |category| %>
      <div class="categories-card">
        <div class="card-list">
          <%# <div class="categories-card__image"> %>
            <%# aqui imagen %>
            <% if category.cover.attached? %>
              <%= image_tag(category.cover, alt:"Wallpapers image", class:"categories-card__image" ) %>
            <% end %>
          <%# </div> %>
          <div class="categories-card__content">
    
            <%= link_to category_path(category), class:"" do %>
              <h3 class="heading--sm gray-400 semi-bolt font-monserrat"><%= category.name %></h3>
            <% end %>
            <small class="light content-sm gray-300"><%= category.photos_count %> photos</small>
            <p class="light text-1rem"><%= category.description %></p>
          </div>
          <div class="categories-card__icons">
             <%= link_to category_path(category), class:"" do %>
              <%= image_tag("icons/eye-solid.svg", alt:"icon-eye", class:"icons-category") %>
            <% end %>
            <%= link_to(edit_category_path(category), class:"") do %>
              <%= image_tag("icons/icon-pencil.svg", alt:"icon-pencil", class:"icons-category") %>
            <% end %>
            <%= link_to(category_path(category), class:"", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) do %>
              <%= image_tag("icons/icon-trash.svg", alt:"icon-trash", class:"icons-category") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>


